
<!-- micropost partial -->
  <div class="col-lg-4 ">
    <%= link_to micropost_comments_path(:micropost_id => micropost.id), target: "_blank" do %>
    <%= image_tag micropost.picture if micropost.picture? %>
    <% end %>
  </li>
  
    <!-- if the picture was posted by myself,display created at
       and by followers,display their name and link 
       & Likes and Comment function-->
    <% if current_user == micropost.user %>
      <span class="timestamp">
      <br/ >
        <%= time_ago_in_words(micropost.created_at) %> 前の投稿. 
      </span>
      <%= link_to "delete", micropost, method: :delete,
                                      data: { confirm: "本当に削除してもよろしいですか？" } %>
      <hr class="original-h1">
      <strong>タイトルをつけてみましょう！</strong><br />
　  <% else %>
　    <br />
　    <%= link_to micropost.user.username , user_path(micropost.user)  %>さんが投稿.
      <hr class="original-h1">
      <strong>タイトルをつけてみましょう！</strong><br />
      <%= link_to 'コメントページ', micropost_comments_path(:micropost_id => micropost.id) %>
　  <% end %>
　  
　  <%= render '/users/shared/like', collection: @micropost, micropost: micropost %>
　  
　  
</div>
