  <div class="col-lg-4 ">
    <!-- Button to call modal windows -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= micropost.id%>">
        <%= image_tag micropost.picture if micropost.picture? %>
      </button>
 
    <!-- Content of modal window -->
      <div class="modal fade" id="myModal<%= micropost.id%>">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= micropost.user.username %>さんの投稿：<%= micropost.content %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag micropost.picture if micropost.picture? %>
        <% micropost.comments.each do |comment| %>
        <hr class = 'original-h1'>
          <div style= "float: right">
            <%= simple_time(comment.created_at) %>
          </div>
          <div style= "float: left"><%= link_to comment.user.username , user_path(micropost.user)  %>
            <%= comment.body %>
　　　　  </div>
　　　　  
        <hr class = 'original-h1'>
        <% end %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
       </div>
      <hr class = 'original-h1'>
    </div>
  </div>
  </div>


  
    <!-- if the picture was posted by myself,display created at
       and by followers,display their name and link 
       & Likes and Comment function-->
    <% if current_user == micropost.user %>
      <span class="timestamp">
      <br/ >
        <%= time_ago_in_words(micropost.created_at) %> 前の投稿. 
      </span>
      <%= link_to "delete", micropost, method: :delete,
                                      data: { confirm: "本当に削除してもよろしいですか？" } %>
      <hr class="original-h1">
      <% if micropost.content %>
      <strong><%= micropost.content %></strong><br />
        <% else %>
      <strong>タイトルをつけてみましょう！</strong><br />
        <% end %>
　  <% else %>
　    <br />
　    <%= link_to micropost.user.username , user_path(micropost.user)  %>さんが投稿.
      <hr class="original-h1">
      <% if micropost.content %>
        <strong><%= micropost.content %></strong><br />
      <% else %>
        <strong>タイトルをつけてみましょう！</strong><br />
      <% end %>
　  <% end %>
　  
　  <%= render '/users/shared/like', collection: @micropost, micropost: micropost %>
　  
　  
</div>
