  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'KOYAGRAM', root_path,:class => 'navbar-brand' %>
          <p class= 'navbar-brand'> <%= flash[:notice] %> 
            <% if logged_in? %>
              現在ログイン中です！<%= @user.email %>さん
            <% end %>
          </p>
      </div>
      
      <% if logged_in? %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'プロフィール', user_path(@user), :class =>'smoothscroll' %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :post, :class =>'smoothscroll' %></li>
        </ul>
      </div>
      <% else %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'ユーザー登録', new_user_path, :class =>'smoothscroll' %></li>
          <li><%= link_to 'ログインする', login_path, :class =>'smoothscroll' %></li>
        </ul>
      </div>
      <% end %>
      <!--/.nav-collapse -->
    </div>
  </div>